body
{
    background-color: rgb(83, 199, 83);
}
label
{
    color: rgb(69, 69, 228);
}
legend
{
    background-color: pink;
    color: purple;
}
p
{
    margin: 2em;
}
fieldset
{
    width: 23em;
}