table
{
    border: 2px solid blue;
    border-collapse: collapse;
}
body
{
    background-color: rgb(136, 216, 125);
}
td, th
{
    border: 1px solid green;
    padding: 1em;
    width: 4em;
    height: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}
th
{
    color: red;
}
tfoot
{
    color: blue;
}
.head
{
    color:purple;
}