thead
{
    color: red;
    text-align: center;
}
tbody
{
    text-align: center;
}
tfoot
{
    color: blue;
    text-align: center;
}
table
{
    border: 2px solid blue;
    border-collapse: collapse;
}
body
{
    background-color: rgb(136, 216, 125);
}
td, th
{
    border: 1px solid green;
    padding: 1em;
    width: 4em;
    height: 2em;
}
table
{
    box-shadow: 2px 2px 2px 2px solid black;
}