thead
{
    color: red;
    text-align: center;
}
tbody
{
    text-align: center;
}
tfoot
{
    color: blue;
    text-align: center;
}
table
{
    border: 2px solid blue;
}
body
{
    background-color: green;
}
td, th
{
    border: 1px solid darkgreen;
    padding: 1em;
}
table
{
    box-shadow: 2px 2px 2px 2px solid black;
}