thead
{
    color: red;
    text-align: center;
}
tbody
{
    text-align: center;
}
tfoot
{
    color: blue;
    text-align: center;
}
table
{
    border: 2px solid blue;
}
body
{
    background-color: green;
}
td
{
    border: 1px solid darkgreen;
}
th
{
    border: 1px solid darkgreen;
}