div
{
    font-family: "Courier new", Courier, monospace;
    border-radius: 30px;
    color: blue;
    text-align: center;
    margin: 2em;
    width: 5em;
    height: 2em;
    padding: 2em;
    padding-top: top;
    display: block;
    background-color: lightgrey;
}
div:hover
{
    background-color: darkgrey;
}
body
{
    background-color: green;
}
.red{
    border-left: 4px ridge red;
}
.yellow{
    border-left: 4px ridge yellow;
}
.blue{
    border-left: 4px ridge blue;
}
.green{
    border-left: 4px ridge green;
}