div
{
    font-family: "Courier new", Courier, monospace;
    border-radius: 30px;
    color: blue;
    text-align: center;
    margin: 2em;
    width: 6em;
    height: 1em;
    padding: 2em;
    padding-top: top;
    display: block;
    background-color: lightgrey;
}
div:hover
{
    background-color: darkgrey;
}
body
{
    background-color: green;
}
div.red{
    border-left: 8px ridge red;
}
div.yellow{
    border-left: 8px ridge yellow;
}
div.blue{
    border-left: 8px ridge blue;
}
div.green{
    border-left: 8px ridge green;
}