p
{
    border: 2px solid red;
    border-radius: 50px 20px;
    color: white;
}
div
{
    outline: none;
    text-decoration: none;
}
div:hover
{
    color: blue;
}
div:focus
{
    border-bottom: 1px solid darkblue;
    background-color: blue;
    color: white;
}
body
{
    background-color: darkgreen;
}