a
{
    outline: none;
    text-decoration: none;
}
a:link
{
    color: yellowgreen;
}
a:visited
{
    color: darkgreen;
}
a:focus
{
    border-bottom: 1px solid darkblue;
    background-color: lightblue;
}
a:hover
{
    box-shadow: 5px 5px 5px #888888;
    background-color: lightgreen;
}
a:active
{
    background-color: #ffeeaa;
    color: #00FF33;
}
body
{
    background-color: #DEFF9C;
}
p
{
    font-family: "Courier New", Courier, monospace;
    font-size: 1em;
    float:left;
    margin: 10px;
}