a
{
    color: coral;
    text-align: center;
    width: 6em;
    height: auto;
    padding: 0.5em;
    margin: 1em;
    float: left;
    border: 2px solid coral;
    border-radius: 8px;
}
a:hover
{
    background-color: black;
}
div
{
    float: left;
    margin: 1em;
    height: 20em;
    width: 8em;
    padding: 0.5em;
    background-color: yellow;
    box-shadow: 2px 2px coral;
}
body
{
    background-color: yellow;
}