.small
{
    font-size: 0.5em;
}
.normal 
{
    font-size: 1em;
}
.large 
{
    font-size: 1.5em;
}
.larger 
{
    font-size: 2em;
}
body
{
    font-family: "Courier New", Courier, monospace;
    box-shadow: 3px 3px 2px 1px rgb(1, 1, 15);
    background-image: linear-gradient(rgba(211, 230, 226, 0.808), rgba(16, 235, 224, 0.822));
}