@font-face
{
    font-family:myRistretto;
    src: url(ristretto\ \(1\).woff);
}
.first
{
    font-family:myRistretto;
    width: 300px;
    height: 150px;
    background-image: linear-gradient(rgba(194, 204, 182, 0.808), rgba(15, 231, 51, 0.822));
    box-shadow: 3px 3px 2px 1px rgb(1, 1, 15);
}
@font-face
{
    font-family:mymayestica;
    src: url(Mayestica\ \(1\).otf);
}
.second
{
    font-family:mymayestica;
    width: 300px;
    height: 150px;
    background-image: linear-gradient(rgba(194, 204, 182, 0.808), rgba(15, 231, 51, 0.822));
    box-shadow: 3px 3px 2px 1px rgb(1, 1, 15);
}
    